/*******************
Start Video
*******************/
.video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
/*******************
End Video
*******************/
/*******************
Start We-Are
*******************/
.we-are .container {
    background-color: var(--bg-2-color);
    color: white;
    padding: 45px;
}
.we-are p{
    font-family: 'Montserrat!important;';
    font-size: 20px;
}
.line-b{
    background-color: var(--span1-color-);
    width: 100%;
    height: 6px;
}
/*******************
End We-Are
*******************/
/*******************
Start ABOUT US
*******************/
.about-us{
    color: white;

}
.about-us p{
    font-family: 'Montserrat!important;';
    font-size: 20px;
}
.about-us nav{
    padding-left: 0;
    --bs-nav-link-hover-color:var(--span1-color-)
}
.about-us a{
    color: white;
    
}

svg{
    fill: var(--span1-color-);
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
}
.tab-content h3{
    font-family: 'Roboto';
}

/****************** 
End ABOUT US
******************/
/****************** 
Start Main title
******************/
:root{
    --span1-color-:#49beed;
    --main-color-:#000000;
    --bg-1-color-:#275599;
    --bg-2-color:#111111;
    --bg-3-color:#232323;
    
}
h2{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}
h2 span{
    color: var(--span1-color-);
}
/*********************owl-carousel for all pages***********************/
.main-title{
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 60px;
    text-transform: uppercase;
    display: block;
    text-align: center;
} 
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%) ;
}
/****************** 
End Main title
******************/