    <!-------------------
        START our families
    --------------------->
    <div class="container ">
        <div class="main-title text-center mt-5 mb-5 position-relative">
            <h2> <span>Our</span> Families</h2>
        </div>
        <div id="cor-fam" >
            <owl-carousel-o  [options]="customOptions">
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/7awkma.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/aqar_cloud.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/bizol.jpeg" alt=""></ng-template> 
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/bubble.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/eurol.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/golf_city_club.jpeg" alt=""></ng-template> 
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/lashin.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/lubricants77.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/nm_motors.jpeg" alt=""></ng-template> 
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/retan.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/saya_world.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/sydlyat_nagdy.jpeg" alt=""></ng-template> 
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/wzart_t5tet.jpeg" alt=""></ng-template>  
                <ng-template class="cor-fam-item" carouselSlide><img src="assets/img_logohat/zaghloul.jpeg" alt=""></ng-template> 
            </owl-carousel-o>
        </div>
    </div>
    <!-------------------
        END our families
    --------------------->
