:root{
    --span1-color-:#49beed;
    --main-color-:#000000;
    --bg-1-color-:#275599;
    --bg-2-color:#111111;
    --bg-3-color:#232323;
}
/*********************************************************START BEHANCE PAGE******************************************/
main{
    padding-top: 200px;
    color: white;
}
.content .box{
    padding: 1PX;
    overflow: hidden;
    position: relative;
}
.content .box::before{
    content: attr(data-work);
    position:absolute;
    background-color: #000000b0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-3-color);
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 2PX));
    color: white;

}
.content .box:hover::before{
    transform: translateX(0);
} 
/****************** 
Start Up Span
******************/
.up{
    position: fixed;
    bottom: 10px;
    right: -30px;
    background-color: var(--bg-1-color-);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: .2s;
}
.up.show{
    right: 10px;
}


/*********************************************************END BEHANCE PAGE******************************************/