
    <!-------------------
        Start Content
    --------------------->
    <main class="content text-center " >
        <div class="container-fluid row">
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Saya Gym">
              <img class="img-fluid" src="assets/images-renew/saya-gym01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Saya Gym">
              <img class="img-fluid" src="assets/images-renew/saya-gym02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Saya Gym">
              <img class="img-fluid" src="assets/images-renew/saya-gym03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Saya Gym">
              <img class="img-fluid" src="assets/images-renew/saya-gym06.jpeg" alt="" >
            </div>
          </div>
          
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="FIT PADEL">
              <img class="img-fluid" src="assets/images-renew/fit-padel01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="FIT PADEL">
              <img class="img-fluid" src="assets/images-renew/fit-padel02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="FIT PADEL">
              <img class="img-fluid" src="assets/images-renew/fit-padel03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="FIT PADEL">
              <img class="img-fluid" src="assets/images-renew/fit-padel04.jpeg" alt="" >
            </div>
          </div>
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan04.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan07.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan08.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Retan">
              <img class="img-fluid" src="assets/images-renew/retan09.jpeg" alt="" >
            </div>
          </div>
          
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud07.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud08.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="AQAR CLOUD">
              <img class="img-fluid" src="assets/images-renew/aqar-cloud11.jpeg" alt="" >
            </div>
          </div>
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro08.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro04.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Fabbro">
              <img class="img-fluid" src="assets/images-renew/fabbro07.jpeg" alt="" >
            </div>
          </div>
          
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway03.jpeg" alt="" >
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway07.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway04.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Easy Way">
              <img class="img-fluid" src="assets/images-renew/easyway08.jpeg" alt="" >
            </div>
          </div>
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol04.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol09.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol10.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol11.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol12.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol13.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol14.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol15.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol16.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol17.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol18.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol19.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol20.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol21.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Bizol">
              <img class="img-fluid" src="assets/images-renew/bizol22.jpeg" alt="" >
            </div>
          </div>
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol01.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol07.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol08.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol09.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol10.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol11.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol12.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Eurol">
              <img class="img-fluid" src="assets/images-renew/eurol13.jpeg" alt="" >
            </div>
          </div>
          <!--------------------------------------------------------------------------------->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="boX" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity02.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity03.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity04.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity05.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity06.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity08.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity09.jpeg" alt="" >
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box" data-work="Infinity Physio Clinic">
              <img class="img-fluid" src="assets/images-renew/infinity10.jpeg" alt="" >
            </div>
          </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan08.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Move Scan">
            <img class="img-fluid" src="assets/images-renew/move-scan09.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve08.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Eve">
            <img class="img-fluid" src="assets/images-renew/eve04.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Diva Digital Smile">
            <img class="img-fluid" src="assets/images-renew/diva-digitalsmile08.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="DR.Ahmed Shahin">
            <img class="img-fluid" src="assets/images-renew/dr.ahmed-shahin01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="DR.Ahmed Shahin">
            <img class="img-fluid" src="assets/images-renew/dr.ahmed-shahin02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="DR.Ahmed Shahin">
            <img class="img-fluid" src="assets/images-renew/dr.ahmed-shahin03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="DR.Ahmed Shahin">
            <img class="img-fluid" src="assets/images-renew/dr.ahmed-shahin04.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Mobakher">
            <img class="img-fluid" src="assets/images-renew/mobakher08.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Le KAREEM">
            <img class="img-fluid" src="assets/images-renew/le-kareem01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Le KAREEM">
            <img class="img-fluid" src="assets/images-renew/le-kareem02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Le KAREEM">
            <img class="img-fluid" src="assets/images-renew/le-kareem03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Le KAREEM">
            <img class="img-fluid" src="assets/images-renew/le-kareem04.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="TNG">
            <img class="img-fluid" src="assets/images-renew/tng01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="TNG">
            <img class="img-fluid" src="assets/images-renew/tng02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="TNG">
            <img class="img-fluid" src="assets/images-renew/tng04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="TNG">
            <img class="img-fluid" src="assets/images-renew/tng05.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="SPORT AVENUE">
            <img class="img-fluid" src="assets/images-renew/sport-avenue01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="SPORT AVENUE">
            <img class="img-fluid" src="assets/images-renew/sport-avenue02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="SPORT AVENUE">
            <img class="img-fluid" src="assets/images-renew/sport-avenue03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="SPORT AVENUE">
            <img class="img-fluid" src="assets/images-renew/sport-avenue04.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="ALPHA OPTICAL">
            <img class="img-fluid" src="assets/images-renew/alpha08.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation01.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation02.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation03.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation04.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation05.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation06.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation07.jpeg" alt="" >
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" data-work="Safar Nation">
            <img class="img-fluid" src="assets/images-renew/safar-nation08.jpeg" alt="" >
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        </div>
      </main>
      <!-------------------
          End Content
      --------------------->
      <!-------------------
          start up span
      --------------------->
      <span class="up">Up</span>
      <script>
        let span = document.querySelector(".up");

        window.onscroll = function(){
        this.scrollY >= 1000 ? span.classList.add("show") : span.classList.remove("show");
      }
      span.onClick = function(){
        window.scrollTo({
          top:0,
          behavior: "smooth",
        })
      }
      </script>