/********************************************************* START SERVICES PAGE******************************************/
/*********** navbar-services************/
#navbar-services{
    padding: 0;
    min-height: 75px;
    background-color: transparent;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}
/************ owl-carousel services*************/
img{
    display: block;
    height: 100vh;
    position: relative;
}

.carousel-content {
    color: white;
}

.carousel-content h1 {
    font:500 20px/32px Roboto,Helvetica Neue,sans-serif;
    margin:0 0 16px;
    letter-spacing: normal;
}

.carousel-content a {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--span1-color-);
    outline: none;
    transition: all .3s;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
}
.carousel-content a:hover{
    background-color: var(--span1-color-);
}

/*********************owl-carousel for all pages***********************/
.main-title{
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 60px;
    text-transform: uppercase;
    display: block;
    text-align: center;
} 
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--dang-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%) ;
}
.owl-carousel-success .owl-item img{
    display: block;
    width: 60%;
    height: 50%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px;
    padding-bottom: 50px;
}


/******* side links*******/
.side-links .Services-links{
    padding-top: 17px;
    padding-bottom: 17px;
    position: absolute;
    font-family: sans-serif;
    left: 20px;
    top: 50%;
    z-index: 2;
    transform: translate(-50%) rotate(-90deg);
}
.side-links .Services-links .social-serv-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
/*****************Button*****************/
.carousel-content{
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.carousel-content h1{
    margin-bottom: 20px;
}
.carousel-content a{
    
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--span1-color-);
    outline: none;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px; 
    transition: all .3s;
    
}
/**************side-link*****************/
.side-links .Services-links a{
    color: white; 
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    font-size: 15px;
    transform: translateY(-50%); 
    transition: all .3s;
}
.side-links .Services-links a:hover{
    color: var(--span1-color-);
}
.side-links .Services-links svg{
    fill: white; 
    text-decoration: none;
    margin-right: 5px;
    margin-left: 18px;
    position: relative;
    width: 18px;
    height: 18px;
    transform: translateY(1%); 
    transition: all .3s;
}
.side-links .Services-links svg:hover{
    fill: var(--span1-color-) ;
}
.circule::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-top: -2px;
    background-color: var(--span1-color-);
}
/***************************************************END SERVICES PAGE******************************************/