        <!-------------------
            Start footer
        --------------------->
        <div class="footer-info ">
            <div class="container row m-auto p-5">
            <div class="col-md-6 ">
                <h3>Renew Media</h3>
                <p>The life without stories to tell will be meaningless, And if there is no light and color it will be dull. Let us tell your success story with opening the minds and expressing passion</p>
            </div>
            <div id="contact-us" class="fo-contacts col-md-6">
                <h3>Contact Us</h3>
                <div>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <span>Email: </span>
                    <span> info&#64;renewmediaeg.com</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <span>Tel: </span>
                    <span class="phone"> +20 109 160 6616</span>
                    <a href="+20 109 160 6616"></a>
                    <span><br><i class="fa-solid fa-house"></i></span>
                    <span>13 Arab Organization for Industrialization Buildings, Makram Ebeid</span>
                </div>
                
                <div class="copyright">Copyright © 2024 renewmedia. All Rights Reserved.</div>
            </div>
            </div>
        </div>
        <!-------------------
            END footer
        --------------------->
